:root{
    --sidebar_color: antiquewhite;
    --nonfocus_text_color: grey;
    --background-color: aliceblue;
}

*:not(dialog){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    display: flex;
}

.sidebar{
    position: fixed;
    background-color: var(--sidebar_color);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    z-index: 1;
    box-shadow: 1px 0px 5px 0px grey;
}

.sidebar .logo{
    height: 5%;
    text-align: center;
}

.sidebar .logo button{
    background-color: var(--sidebar_color);
    border: none;
    height: 100%;
}

.sidebar .projects{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar ul{
    border-top: solid 1px var(--nonfocus_text_color);
    border-bottom: solid 1px var(--nonfocus_text_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
}

.sidebar li{
    list-style: none;
}

.sidebar .new-project, .sidebar li button{
    background-color: var(--sidebar_color);
    border: none;
    color: var(--nonfocus_text_color);
}

.sidebar .logo button:hover{
    cursor: pointer;
}

.sidebar .new-project:hover, .sidebar li button:hover{
    cursor: pointer;
    color: black;
}

.content{
    margin-left: 200px;
    height: 100vh;
    width: 100%;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project .title{
    margin-left: 4px;
    border: none;
    background-color: var(--background-color);
    display: flex;
}

.project .title button{
    border: none;
    background-color: var(--background-color);
    margin-left: 8px;
    display: flex;
    gap: 4px;
    align-self: center;
}

.project .title button:hover{
    cursor: pointer;
}

.project .title button img{
    width: 16px;
    height: 16px;
}

.project .title button > *{
    align-self: center;
}

.project .tasks{
    padding: 8px 4px;
    height: 175px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 16px;
    overflow: hidden;
}

.project .focused{
    padding: 8px 4px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    gap: 16px;
    overflow: hidden;
}

.project .tasks .task{
    border-top: solid 8px var(--sidebar_color);
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.placeholder{
    border: dashed 8px lightgrey;
    border-radius: 8px;
    background-color: whitesmoke;
}

.placeholder:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px grey;
}

.placeholder img{
    width: 75px;
    
}

.placeholder p{
    font-weight: bolder;
    color: grey;
}

.tasks .task .actions{
    align-self: flex-end;
    margin-top: auto;
    display: flex;
    gap: 4px;
}

.tasks #finished{
    opacity: 0.3;
}

.tasks .task .description{
    overflow: scroll;
}

.tasks .actions button{
    width: 32px;
    height: 32px;
    padding: 4px;
    border: none;
    background-color: white;
    border-radius: 100%;
}

.tasks .actions button:hover{
    cursor: pointer;
    background-color: lightgrey;
}

dialog{
    margin-top: 30vh;
    border: none;
    border-top: solid 8px var(--sidebar_color);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px grey;
    width: 300px;
} 

dialog .close{
    width: 100%;
    margin: 2px 0;
}

dialog form{
    display: flex;
    flex-direction: column;
}

dialog form > *{
    margin: 2px 0;
}

dialog form .editCreate button{
    display: none;
    width: 100%;
    margin-top: 2px;
}